*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container{
  width:100vw;
  height:100vh;
  background-color: #5E4674;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.videoContainer{
  width:100%;
  height: 80%;
}

.webcam,.canvas {
    width:640px;
    height:480px;
     position: absolute;
  left:0;
  top:0;
  margin-left:calc(50% - 320px);
  margin-right:calc(50% - 320px);
}
h1{
  color:#F5F5F5;
  margin-bottom: 10px;
}

.videoContainer{
  position: relative;
}

.canvas{
  z-index: 100;
}

.webcam{
  display: none;
}